{{name}}
{{ title(name, "=") }}

{% for method in methods %}

.. _{{ method_ref_name(name, method.name) }}:
{{method.name}}
{{ title(method.name, "-") }}

{% for docs in method.docs %}

###
{{ docs }}
###

{%- endfor %}

{%- endfor %}